<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">FOLKLORE ERGÓNOMICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo ion-padding" fullscreen scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card color="secondary">
        <ion-card-header>
          
          <ion-card-title><h1>FOLKLORE ERGOLOGICO</h1></ion-card-title>
          <ion-card-subtitle>ARTESANIAS DE OTAVALO</ion-card-subtitle>
        </ion-card-header>
       <ion-card-content class="ion-text-justify">
        
           <h2><br>
            Debemos saber que su centro neurálgico es la conocida como plaza de los Ponchos, donde tiene lugar todos los días de la semana, pero su mayor esplendor lo alcanza los sábados.
            <br><br>
            Ahí encontrarás sobre todo los productos textiles de Otavalo, como sombreros, ponchos, bufandas, camisas, pantalones, alpargatas.
            <br><br>
            También podrás comprar otros tipos de productos de artesanía en barro, pinturas, maderas, bisutería, orfebrería, tanto originarios de Ecuador como de otros países. [ CITATION Jos17 \l 22538 ]
         
          </h2>
         
         
       </ion-card-content>
      
     
      
      </ion-card>      
    </ion-slide>

    <ion-slide>
             
      <ion-card (click)="onClick()" color="dark" class="card-background-page">
        <br> <br>
        <img class="myvideo" src="../../../assets/img/imgvideo.png" />
        <img class="iconovideo" src="../../../assets/img/video.png" />
        <ion-card-title>
            <h1><br>
             VIDEO
            </h1>
          </ion-card-title>
          <ion-card-content>
            Un Reccorrido por la plaza de ponchos y sus artesanías
          </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card >
        <img src="../../../assets/img/erg1.jpg" />
        <ion-card-content >
        
         <ion-card-title>
           <h1><br>
             "La música es una cosa amplia, sin limites, sin fronteras, sin banderas." 
             <br> - [León Geieco].
           </h1>
         </ion-card-title>
            
          
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card >
          <img src="../../../assets/img/erg2.jpg" />
          <ion-card-content >
          
           <ion-card-title>
             <h1><br>
              Los artesanos -artistas- han ido asimilando estos influjos pero manteniendo, en líneas generales, el arte popular tradicional con sus formas, técnicas y decoraciones heredadas.
             </h1>
           </ion-card-title>
              
            
            
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card >
            <img src="../../../assets/img/erg3.jpg" />
            <ion-card-content >
            
             <ion-card-title>
               <h1><br>
                En este sentido, cada pueblo según su psicología particular, dará a su obra de arte una personalidad propia y peculiar, sean cuales fueren las formas que traduzcan su necesidad de expresión.
               </h1>
             </ion-card-title>
                
              
              
            </ion-card-content>
          </ion-card>
        </ion-slide>
   
  </ion-slides>
</ion-content>

