<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">FOLKLORE MÁGICO</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="fondo " fullscreen padding scroll-y="false">
    <ion-slides>
      <ion-slide>
        <ion-card class="fondoblanco">
          <img src="../../../assets/img/cora8.png" />
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
         <ion-card-content>
            <p>
                The <b>ionic conference app</b> is a practical preview of the ionic
                framework in action, and a demonstration of proper code use.
              </p>
         </ion-card-content>
          
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card class="fondoblanco">
          <img src="../../../assets/img/cora8.png" />
          <h2>Welcome to the <b>ICA</b></h2>
          <p>
            The <b>ionic conference app</b> is a practical preview of the ionic
            framework in action, and a demonstration of proper code use.
          </p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
