<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">FOLKLORE MÁGICO</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="fondo ion-padding" fullscreen scroll-y="false">
    <ion-slides pager="true" [options]="slideOpts">
     
      <ion-slide>
          <ion-card >
            <img height="100" width="100" src="../../../assets/img/magic1.jpg" />
            <ion-card-content >
            
             <ion-card-title>
               <h1><br>
                Buena y Mala Suerte
              </h1>
             </ion-card-title>
             <br>
                
             Se cree en la buena y  la mala suerte que brinda el agua en la cascada de Peguche, es por ello que cuando nos bañamos en la parte baja de la cascada todo lo malo se va con el agua. En cambio cuando nos bañamos en la cascada (dentro del velo) representa que nos cae todo lo bueno nuevas cosas”.
              
            </ion-card-content>
          </ion-card>
        </ion-slide> <ion-slide>
        <ion-card >
          <img  height="100" width="100" src="../../../assets/img/magic2.jpg" />
          <ion-card-content >
          
           <ion-card-title>
             <h1><br>
              El árbol del lechero 
             </h1>
           </ion-card-title>
           <br>

              Simboliza la vida y la muerte; es un árbol medicinal que sirve para aliviar afecciones del hígado, dolor de cabeza, eliminar verrugas y calmar el dolor de oído. En este lugar se da lugar diversas manifestaciones culturales de las comunidades aledañas, quienes van a pedir fuerza, fortaleza, suerte, abundancia, es normal encontrar al pie de este árbol centenario ofrendas que han realizado con frutas, granos, flores y comida. 
            
            
          </ion-card-content>
        </ion-card>
      </ion-slide>
       
     
    </ion-slides>
  </ion-content>
  
