<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios">
    <ion-title color="primary">INFO OTAVALO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo card-background-page">
  <ion-card class="fondoblanco ">
    <ion-card-header>
      <img class="imagen" src="../../../assets/img/huma.jpg" />

      <ion-card-subtitle>Folklore y Tradición</ion-card-subtitle>
      <ion-card-title>OTAVALO</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      En todas las comunidades indígenas del cantón Otavalo, se realizan los
      siguientes actos para le celebración del Inti Raymi.
      <ion-list>
        <ion-item (click)="presentAlertConfirm()">
          <ion-label>INFORMACIÖN GENERAL</ion-label>
        </ion-item>
        <ion-item (click)="presentAlertConfirm()">
          <ion-label>UBICACIÓN</ion-label>
        </ion-item>
        <ion-item (click)="presentAlertConfirm()">
          <ion-label>HISTORIA</ion-label>
        </ion-item>
        <ion-item (click)="presentAlertConfirm()">
          <ion-label>GENTE</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
