<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios" >    
    <ion-title color="primary">OTAVALO</ion-title>      
  </ion-toolbar>
</ion-header>

<ion-content class="fondo card-background-page">
  <ion-card *ngFor="let tarjeta of tarjetas"    
routerLink="{{ tarjeta.pagina }}" routerDirection="root">
    <img src="{{ tarjeta.imagen }}" />
    <div class="card-title">{{ tarjeta.titulo }}</div>
    <div class="card-subtitle">{{tarjeta.subtitulo}}</div>
  </ion-card>
    
</ion-content>
