.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.tarjeta_fondo {
  background: #ffffff;
  color: #ffffff;
  background-color: #ffffff;
  --ion-background-color: #ffffff;
}

.tarjeta_fondo{
  background:#ffffff;
color:#ffffff;
background-color: #ffffff;  
--ion-background-color:#ffffff;
}
.card-background-page{
  ion-card{
      position: relative;
      text-align: center;
      height: 25%;
  }
  .card-title{
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #ffffff;
  }
  .card-subtitle{
      font-size: 1.0em;
      position: absolute;
      top: 54%;
      width: 100%;
      color: #e9e9e9;
  }
}