<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">FOLKLORE POETICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo ">
  <ion-card class="fondoblanco ">
    <ion-card-header>
      <ion-card-title color="primary">COPLAS DE OTAVALO</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <br />
      A mí me pario mi mama <br />
      debajo de un pondo longo; <br />
      Los perros querían <br />
      tragarme creyendo <br />
      que era mondongo.
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      Mi mamita me pegaba <br />
      con el rabito de oveja; <br />
      el culito hecho cendales <br />
      y el amor que no me dejó
    </ion-card-content>
    <ion-card-content class="ion-text-center">
     Me dices que soy celoso <br />
      II que más te quieres mujer; <br />
      con un granito de celos <br />
      más sabroso es el querer.
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      Que feo ha sabido ser <br />
      amar en la vecindad; <br />
      cada vez que entro y <br />
      salgo me causa curiosidad.
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      A la vecina del frente <br />
      se le ha muerto su marido, <br />
      por temor al difunto <br />
      se viene a dormir conmigo <br />
      A la vieja de mi suegra, <br />
      la he de enterrar boca abajo, <br />
      por si se quiere salir, <br />
      que se vaya más abajo.
    </ion-card-content>
  </ion-card>
</ion-content>
