<ion-header mode="ios" no-border translucent="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">FOLKLORE POETICO</ion-title>
  </ion-toolbar>
</ion-header> 

 
<ion-content class="fondo ">
    <ion-slides class="carrusel" pager="true" [options]="slideOpts">
        <ion-slide>
          <img class="imagen" src="../../../assets/img/inti1.png" />
        </ion-slide>
        <ion-slide>
          <img class="imagen" src="../../../assets/img/inti2.png" />
        </ion-slide>
        <ion-slide>
          <img class="imagen" src="../../../assets/img/inti3.png" />
        </ion-slide>
        <ion-slide>
          <img class="imagen" src="../../../assets/img/inti4.png" />
        </ion-slide>
        <ion-slide>
          <img class="imagen" src="../../../assets/img/inti5.png" />
        </ion-slide>
        <ion-slide>
          <img class="imagen" src="../../../assets/img/inti6.png" /> </ion-slide
        ><ion-slide>
          <img class="imagen" src="../../../assets/img/inti7.png" />
        </ion-slide>
      </ion-slides>
      

    <ion-card class="fondoblanco ">
      <ion-card-header>
       
        <ion-card-subtitle>Folklore Social</ion-card-subtitle>
        <ion-card-title>INTI RAYMI</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        El origen del Inti Raymi se remonta a la época de los grandes gobernantes
        Incas y a la cuna de su imperio: Cusco, cuya esencia ha sido desde esa
        época: rendir culto a las deidades andinas, agradecer por las cosechas
        obtenidas y exaltar la fecundidad de la madre tierra. Esta festividad
   
        Mientras varias comunidades inician el 22 de junio con el baño ritual en
        ríos, vertientes y cascadas sagradas, otras esperan la llegada del día y
        el momento apropiados para iniciar sus festividades. En todas las
        comunidades indígenas del cantón Otavalo, se realizan los siguientes actos
        para le celebración del Inti Raymi.
      </ion-card-content>
    </ion-card>
  
    <ion-card class="fondoblanco ">
      <ion-card-header>
        <ion-card-title>Armay Chishi – Baño Ritual</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Este ritual se lo realiza el 22 de junio, día del solsticio de verano. Las
        cascadas, ríos y vertientes poseen sitios especiales donde se concentra la
        energía durante el año, y el baño ritual trata de captarlas a fin de
        cargarse de nuevas fuerzas, eliminar energías negativas acumuladas en el
        año y empezar así con la celebración del Inti Raymi. El baño tiene un
        claro sentido de purificación y se vincula a los significados agrarios de
        la fiesta
      </ion-card-content>
    </ion-card>
  </ion-content>