<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">FOLKLORE SOCIAL</ion-title>
  </ion-toolbar>
  <ion-segment
    scrollable
    (ionChange)="segmentChanged($event)"
    color="secondary"
    value="1"
  >
    <ion-segment-button href="#r1" value="1">
      <ion-label>KOYA RAYMI</ion-label>
    </ion-segment-button>
    <ion-segment-button href="#r2" value="2">
      <ion-label>CAPAC RAYMI</ion-label>
    </ion-segment-button>
    <ion-segment-button href="#r3" value="3">
      <ion-label>PAWKAR RAYMI</ion-label>
    </ion-segment-button>
    <ion-segment-button href="#r4" value="4">
      <ion-label>INTI RAYMI</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="fondo " *ngIf="r1">
  <ion-card class="fondoblanco ">
    <ion-card-header>
    
      <ion-card-subtitle>Folklore Social</ion-card-subtitle>
      <ion-card-title>KOYA RAYMI</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
        Ritual de la luna y la tierra, estos dos elementos que constituyen el símbolo de la fecundidad. Un poco antes del equinoccio de otoño, fecha exacta para celebrarlo, en la ciudad se festeja las fiestas del yamor, se trata de una de las fiestas más grandes que celebra la ciudad de Otavalo  y que se realiza durante los primeros días de septiembre, esto se origina en un sector tradicional de la urbe, el barrio Monserrat.[ CITATION Ber16 \l 2058 ]
        <br><br>
        <ion-slides class="carrusel" pager="true" [options]="slideOpts">
            <ion-slide>
              <img class="imagen" src="../../../assets/img/soc1.jpg" />
            </ion-slide>
            <ion-slide>
              <img class="imagen" src="../../../assets/img/soc2.jpg" />
            </ion-slide>
          </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card class="fondoblanco ">
      <ion-card-header>
      
        <ion-card-subtitle>Folklore Social</ion-card-subtitle>
        <ion-card-title>FIESTAS  DEL YAMOR</ion-card-title>
        <img class="imagen" src="../../../assets/img/soc3.png" />
        <br>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
          Es una celebración histórico-cultural que une la chicha de origen pre-inca y la fe religiosa de un pueblo, esta bebida está preparada con siete clases de maíz, en la que se proyecta esta festividad como un acto de un mismo pueblo unido en su diversidad, tal como los granos del maíz que se consolidan férreamente en una mazorca, se trata de  costumbres ancestrales que conservan los pueblos a través de los años y se lleva acabo los primeros días del mes de septiembre. [ CITATION Riv06 \l 2058 ]
          <br><br>
          <ion-slides class="carrusel" pager="true" [options]="slideOpts">
              <ion-slide>
                <img class="imagen" src="../../../assets/img/yam1.png" />
              </ion-slide>
              <ion-slide>
                <img class="imagen" src="../../../assets/img/soc4.jpg" />
              </ion-slide>
            </ion-slides>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-content class="fondo " *ngIf="r2">
    <ion-card class="fondoblanco ">
        <ion-card-header>
        
          <ion-card-subtitle>Folklore Social</ion-card-subtitle>
          <ion-card-title>CAPAC RAYMI</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            Se celebra en el solsticio de invierno, por los meses de diciembre, es un ritual que no se lo practica pero que aún permanece con vida en el conocimiento tradicional de la gente que lo quiere recuperar y revitalizarlo.
            <br><br>
           
        </ion-card-content>
        <ion-card-content>
            <img class="imagen" src="../../../assets/img/soc5.jpg" />
        </ion-card-content>
        <ion-card-content>
            <img class="imagen" src="../../../assets/img/soc6.jpg" />
          </ion-card-content>
      </ion-card>
</ion-content>
<ion-content class="fondo " *ngIf="r3">
    <ion-card class="fondoblanco ">
        <ion-card-header>
        
          <ion-card-subtitle>Folklore Social</ion-card-subtitle>
          <ion-card-title>PAWKAR RAYMI</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            Se celebra en honor a las primeras florescencias y de otros alimentos cultivados, en el mes de febrero, se trata de una fiesta de celebración del florecimiento, de una nueva etapa del ciclo de vida, también se podría decir que es una forma de saludo, una forma de congratulación dada entre vecinos, entre familiares
            <br><br>
            
        </ion-card-content>
        <ion-card-content>
            <img class="imagen" src="../../../assets/img/soc7.jpg" />
        </ion-card-content>
        <ion-card-content>
            <img class="imagen" src="../../../assets/img/soc8.jpg" />
          </ion-card-content>
      </ion-card>
</ion-content>
<ion-content class="fondo " *ngIf="r4">
    <ion-card class="fondoblanco ">
        <ion-card-header>
        
          <ion-card-subtitle>Folklore Social</ion-card-subtitle>
          <ion-card-title>INTI RAYMI</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            Es una muestra de agradecimiento a la madre tierra y al sol por la maduración de los frutos. Pues esta es una de las fiestas más grandes que celebran los indígenas durante el año, con una duración de varias semanas, durante este tiempo se puede apreciar diversos eventos como desfiles, rituales, danzas y demás en las distintas comunidades de Otavalo. (Otavalo.2003:10).[ CITATION Ber16 \l 2058 ]
            <br><br>
            <ion-slides class="carrusel" pager="true" [options]="slideOpts">
                <ion-slide>
                  <img class="imagen" src="../../../assets/img/inti1.png" />
                </ion-slide>
                <ion-slide>
                  <img class="imagen" src="../../../assets/img/inti6.png" />
                </ion-slide>
              </ion-slides>
        </ion-card-content>
      </ion-card>
      <ion-card class="fondoblanco ">
          <ion-card-header>
          
            <ion-card-subtitle>Folklore Social</ion-card-subtitle>
            <ion-card-title>RAMA DE GALLOS</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-justify">
              Consiste en que una persona de la comunidad se compromete a hacer una fiesta en honor a las deidades andinas y asume la responsabilidad de un prioste. Este es un momento aprovechado para compartir con familiares, vecinos y amigos quienes acuden a la casa del prioste con un gallo y continuar con el ritual. Entonces los dueños de la casa preparan el “gallo caldo” y lo comparten entre todos.
              <br><br>
              <ion-slides class="carrusel" pager="true" [options]="slideOpts">
                  <ion-slide>
                    <img class="imagen" src="../../../assets/img/soc10.jpg" />
                  </ion-slide>
                  <ion-slide>
                    <img class="imagen" src="../../../assets/img/soc11.jpg" />
                  </ion-slide>
                </ion-slides>
          </ion-card-content>
        </ion-card>
</ion-content>
