.carrusel{
    position: relative;
    text-align: center;
    height: 25%;
}
.imagen{
    width: 100%;
    height: 100%;
}

.card-background-page{
    .myvideo{
        position: relative;
        text-align: center;
        height: 25%;
    }
    .iconovideo{
        position: absolute;
        text-align: center;
        top: 30%;
        width: 60%;
        margin: 20% 20%;
        font-weight: bold;
        color: #ffffff;
    }
   
  }