
 
<ion-content class="fondoblanco ">
  <ion-card class="fondoblanco ">
    <img src="../../../assets/img/huma.jpeg" />
    <ion-card-content >
    
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar >
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-button
         routerLink="/tabs/tab1" routerDirection="root"
            shape="round"
            fill="outline"
            expand="full"
            color="primary"
          >         
           
          CONTINUAR  <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
           </ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>