<ion-header mode="ios" no-border>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/narrativo"></ion-back-button>
      </ion-buttons>
      <ion-title color="primary">FOLKLORE NARRATIVO</ion-title>
    </ion-toolbar>
    <ion-toolbar mode="ios">      
        <ion-title color="secondary"><small>LEYENDA:</small> NINA PACCHA</ion-title>
      </ion-toolbar>
   
  </ion-header>
  
 
  <ion-content class="fondo " *ngFor="let tarjeta of tarjetas">
   
    <ion-card routerDirection="root" class="fondoblanco">
        <ion-card-header>            
                <img src="{{ tarjeta.imagen }}"/>
             
            
                <ion-card-title color="secondary"><small>LEYENDA:</small> NINA PACCHA, PRINCESA DEL LAGO</ion-card-title>
        </ion-card-header>   
        <ion-card-content class="ion-text-justify">
            {{ tarjeta.historia}}
            <br>
        </ion-card-content>   
        <ion-card-content class="ion-text-justify">
          El volcán padre la había convertido en laguna. Surgió, además, un relámpago que fue directamente donde el joven amante, quién se esfumó y brotó como lechero, para que sea vigilante permanente de su adorada Nina Paccha. Y mientras el pueblo no salía de su asombro, una fuerte lluvia empezó a caer sobre los campos
          <br>
      </ion-card-content>   
      <ion-card-content class="ion-text-justify">
        Así, la laguna y el lechero, dentro de la teogonía aborigen, se convirtieron en templos rituales, donde se alzaban plegarias por la siembra, la cosecha y la vida misma; también por ello, desde épocas remotas, los indígenas cruzaban a nado el lago como ofrenda sagrada.
        <br>
    </ion-card-content>   
      </ion-card>
      
      <ion-card>
          <img src="{{ tarjeta.imagen2 }}"/>
       
      </ion-card>
  </ion-content>
 
  