<ion-header mode="ios" no-border>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/narrativo"></ion-back-button>
      </ion-buttons>
      <ion-title color="primary">FOLKLORE NARRATIVO</ion-title>
    </ion-toolbar>
    <ion-toolbar mode="ios">      
        <ion-title color="secondary"><small>LEYENDA:</small> MAMA PUMA</ion-title>
      </ion-toolbar>
   
  </ion-header>
  
 
  <ion-content class="fondo " *ngFor="let tarjeta of tarjetas">
   
    <ion-card routerDirection="root" class="fondoblanco">
        <ion-card-header>            
                <img src="{{ tarjeta.imagen }}"/>
             
            
         
        </ion-card-header>   
        <ion-card-content class="ion-text-justify">
            {{ tarjeta.historia}}
            <br>
        </ion-card-content>   
      </ion-card>
      
      <ion-card>
          <img src="{{ tarjeta.imagen2 }}"/>
       
      </ion-card>
  </ion-content>
 
  